/cmake-build-debug/
dllscripting- visual studio branch/.vs
dllscripting- visual studio branch/dll project/.vs
dllscripting- visual studio branch/dll project/x64/
dllscripting- visual studio branch/dll project/CallHook*
dllscripting- visual studio branch/dll project/x64/Debug/
dllscripting- visual studio branch/thirdparty
dllscripting- visual studio branch/visual studio dll scripting/NoDeader/x64
dllscripting- visual studio branch/visual studio dll scripting/NoDeader/CallHook*
dllscripting main- clion/maincoopextension/cmake-build-debug/
*.obj
*.log
*.pdb
*.tlog
*.idb
*.ipch

.idea/vcs.xml
/dllscripting main- clion/maincoopextension/cmake-build-debug/CMakeFiles
dllscripting main- clion/maincoopextension/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdCXX/CMakeCXXCompilerId.exe
/cmake-build-debug/
